*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
html {
  font-size: 62.5%; /*for using REM units*/
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Nunito Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Fira Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.618;
  color: #222;
}
h5 {
  font-size: 2rem;
}
h4 {
  font-size: 2.5rem;
}
h3 {
  font-size: 3.125rem;
}
h2 {
  font-size: 3.9063rem;
}
h1 {
  font-size: 4.8828rem;
}
.text-center {
  text-align: center;
}
.trivia-container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 8rem;
}
@media only screen and (max-width: 768px) {
  .trivia-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 90%;
    padding-top: 4rem;
  }
}
.app {
  min-height: 100vh;
  background-color: #202142;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pt-2 {
  padding-top: 2rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
